<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Avaliação do Imóvel</title>
</head>
<body>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->

<!-------------------------------------------------------------------------------------------------------------------------------------------------------->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" color="white">iMoWoW</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Avaliação</a>
            <button id="avaliacaoPage"class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="concelhos.html">Dados sobre Concelhos</a>
            
            <button id="consultaConcelhosPage" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------->


<br>
<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">ID Utilizador</span>
    <center><input type="text" id="utilizador" size="8" class="form-control"></center>
</div>
<br>

<h1>
    <center>Imóvel</center>
</h1>

<center><small>Insira neste formulário informações sobre o seu possível negócio a concretizar</small></center>

<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">Concelho</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="concelho">
        </select>
    </center>
</div>

<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text" >Área (㎡)</span>
    <center><input type="text" id="metros" size="4" maxlength="4" class="form-control" placeholder=""></center>
</div>
<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">Ano de Construção</span>
    <center><input type="text" id="ano" size="4" maxlength="4" class="form-control"></center>
</div>
<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">Estado do Imóvel</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="estado">
            <option value="0">Novo</option>
            <option value="1">Renovado</option>
            <option value="2">Usado</option>
            <option value="3">Por Recuperar</option>
        </select>
    </center>
</div>
<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">Topologia</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="topologia">
            <option value="0">T1</option>
            <option value="1">T1+1</option>
            <option value="2">T2</option>
            <option value="3">T2+1</option>
            <option value="4">T3</option>
            <option value="5">T3+1</option>
            <option value="6">T4</option>
        </select>
    </center>
</div>


<div class="input-group mb-3 justify-content-center">

    <span class="input-group-text">Piscina</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="piscina">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
    </center>

    <span class="input-group-text">Jardim</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="jardim">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
    </center>

    <span class="input-group-text">Garagem</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="garagem">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
    </center>

    <span class="input-group-text">Elevador</span>
    <center>
        <select class="form-select" aria-label="Default select example" id="elevador">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
    </center>

</div>

<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">Preço Pedido (€)</span>
    <center><input type="text" id="precoPedido" size="7" class="form-control"></center>
</div>


<center><small>Indique aqui qual é o seu tipo de negócio</small></center>
<div class="d-grid gap-2 d-md-block">
    <center>
        <button type="button" id="venda" class="btn btn-dark btn-lg">Para Venda</button>
        <button type="button" id="arrendamento" class="btn btn-dark btn-lg">Para Arrendamento</button>
    </center>
</div>
<br>
<br>
<center><small>Aqui pode consultar os dados sobre a avaliação</small></center>
<div class="input-group mb-3 justify-content-center">
    <span class="input-group-text">Avalição (€)</span>
    <center><input type="text" id="avaliacaoEuros" size="8" class="form-control"></center>
    <span class="input-group-text">Oportunidade de Negócio</span>
    <center><input type="text" id="avaliacao" size="8" class="form-control"></center>
</div>


<script type="text/javascript" src="./mainAvalia.js"/>


</body>
</html>